nav {
  position: fixed;
  top: 0;
  background: url("../images/cream-dust.png"), #eba309;
  width: 100%;
  height: 120px;
  color: #fff;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    display: inline-block;
    font-family: "Bungee", cursive;
    margin: 0 1.5rem;
  }
  div {
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      font-weight: normal;
      #arrow {
        /* position: absolute; */
        margin-top: 10px;
        animation: arrow-updown ease-in-out 2s 100;
        color: #f14f0f;
      }
    }
    .wring-strong {
      font-family: sans-serif;
      font-weight: bold;
    }
  }
}

@keyframes arrow-updown {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    background: #4056a1;
  }
}
